{% extends "base/base.html" %}

{% load static %}

{% block content %}
    <link href="{% static 'Biblioteca/bootstrap.min.css' %}" rel="stylesheet"> <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'Biblioteca/css/StylesBase.css' %}">
    <link rel="stylesheet" href="{% static 'Biblioteca\css\StylesLibros.css' %}">
    <script defer src="{% static 'Biblioteca\js\opciones.js' %}"></script>
    &nbsp;
    {% if user.is_authenticated %}
        <div class="opciones">
            <div class="box">
                <h1>¿Que actividad desea realizar?</h1>
            </div>
            <div class="box2">
                    <button onclick="MostrarIngresar()" class="ops">
                        Ingresar
                    </button>
                    <button onclick="MostrarEliminar()" class="ops">
                        Eliminar
                    </button>
                    <button onclick="MostrarEditar()" class="ops">
                        Editar
                    </button>
                    <button onclick="MostrarVisualizar()" class="ops">
                        Visualizar
                    </button>
            </div>
        </div>
    {% else %}
        <div class="opciones">
            <div class="box">
                <h1>¿Que actividad desea realizar?</h1>
            </div>
            <div class="box2">
                <button onclick="MostrarVisualizar()" class="ops">
                    Visualizar
                </button>
            </div>
        </div>        
    {% endif %}
        
        {% if "isvalid" in request.GET %} <!-- si se obtiene la redirección a la nueva url -->
            <p style="color: red; margin-left: 300px;">Libro ingresado correctamente</p>
        {% endif %}

        <center><div id = "Ingresar" class="ingresar" style="width: 50%; display: none;">
            <h2>Se esta ingresando un nuevo Libro/Tesis</h2>
            <h3>Por favor complete los campos:</h3>
            <form method="POST">
                {% csrf_token %}
                <table>{{ formL.as_table }}</table>
                <button type="submit">Ingresar al sistema</button>
            </form>
        </div></center>

        <div id="Visualizar" class="visualizar" style="display: none;">
            <h1>Esto es visualizar</h1>
        </div>

        <div id="Eliminar" class="eliminar" style="display: none;">
            <h1>Esto es Eliminar</h1>
        </div>

        <div id="Editar" class="editar" style="display: none;">
            <h1>Esto es Editar</h1>
        </div>
    &nbsp;
{% endblock %}
