{% extends "base/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    
    <link href="{% static 'Biblioteca/bootstrap.min.css' %}" rel="stylesheet"> <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'Biblioteca/css/StylesBase.css' %}">
    
    <form method="post" action="" style="color: black;">
        {% csrf_token %}
        <div style="width: 75%; margin: auto;">
            {{form|crispy}} 
            <button type="submit" class="btn btn-success">Registrarse</button> 
        </div>
    </form>
    &nbsp;
{% endblock %} 