<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>UDO Biblioteca Universitaria</title>
        <link rel="stylesheet" href="footer.css">
    </head>
    <body>
        <header></header>
        <footer>
            <div class="case-one">
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="Home\templates\imgprojts\Logo.png" alt="Logo UDO">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>Kavir Alvarado CI:</p>
                    <p>Jesus Oliveros CI: 25.852.700</p>
                    <p>Daniel Ramos CI:</p>
                </div>
                <div class="box">
                    <h2>SIGUENOS</h2>
                    <div class="redes">
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>