<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>UDO Biblioteca Universitaria</title>
        <link rel="stylesheet" href="Home\templates\css\StylesBase.css"><!--Para los estilos-->
        <script src="https://kit.fontawesome.com/6f44e469ea.js" crossorigin="anonymous"></script><!--Esto es para los iconos-->
    </head>
    <body>
        <header>
            <div class="h-de-pagina">

            </div>
        </header>
        <footer class="pie-de-pagina">
            <div class="case-one">
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="Home\templates\imgprojts\Logo.png" alt="Logo UDO">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>Kavir Alvarado CI: 26.256.604</p>
                    <p>Jesus Oliveros CI: 25.852.700</p>
                    <p>Daniel Ramos CI: 26.237.178</p>
                </div>
                <div class="box">
                    <h2>SIGUENOS</h2>
                    <div class="redes">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-telegram"></a>
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                </div>
            </div>
            <div class="case-two">
                <small>&copy; 2023 <b>Universidad de Oriente Nucleo Anzoategui</b> - Todos los derechos reservados.</small>
            </div>
        </footer>
    </body>
</html>