<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>UDO Biblioteca Universitaria</title>
        <link rel="stylesheet" href="{% static 'Biblioteca/css/StylesBase.css' %}"><!--Para los estilos-->
        <script src="https://kit.fontawesome.com/6f44e469ea.js" crossorigin="anonymous"></script><!--Esto es para los iconos-->
    </head>
    <body>
        <header>
            <div class="h-de-pagina">
                <div style="text-align: left; margin-right: -50px;" class="logo">
                    <figure>
                        <a href="{% url 'Home' %}">
                            <img src="{% static 'Biblioteca/imgprojts/Logo.png' %}" alt="Logo UDO">
                        </a>
                    </figure>
                </div>
                <nav  style="text-align: center; margin-right: 20px;">
                    <ul class="nav-links">
                        <li><a class="{% if request.path == '/administrarestudiantes/' %}active{% endif %}" href="{% url 'AdministrarEstudiantes' %}" id="administrarEstudiantes">Administrar Estudiantes</a></li>
                        <li><a class="{% if request.path == '/generarprestamo/' %}active{% endif %}" href="{% url 'GenerarPrestamo' %}">Prestamo de Libros</a></li>
                        <li><a class="{% if request.path == '/notasprestamo/' %}active{% endif %}" href="{% url 'NotasPrestamo' %}">Notas de Prestamo</a></li>
                        <li><a class="{% if request.path == '/administrarlibros/' %}active{% endif %}" href="{% url 'AdministrarLibros' %}">Administrar Libros</a></li>
                    </ul>
                </nav>
                
                {% if user.is_authenticated %}
                    <div style="text-align: right; margin-right: -50px;"><a style="color: rgb(26, 216, 8);">Hola {{user.username}}</a></div>
                    <div style="text-align: right; margin-right: -50px;"><a href="{% url 'Logout' %}" class="sesion"><button>Log out</button></a></div>
                {% else %}
                    <div style="text-align: right; margin-right: -70px;"><a href="{% url 'Login' %}" class="sesion"><button>Login</button></a></div>
                    <div style="text-align: right; margin-right: -20px;"><a href="{% url 'SignUp' %}" class="sesion"><button>Sign Up</button></a></div>
                {% endif %}
                 
            </li>
        </header>
        <div>
            {% block content %}
            
            {% endblock %}
        </div>
        <footer class="pie-de-pagina">
            <div class="case-one">
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="{% static 'Biblioteca/imgprojts/Logo.png' %}" alt="Logo UDO">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>Kavir Alvarado CI: 26.256.604</p>
                    <p>Jesus Oliveros CI: 25.852.700</p>
                    <p>Daniel Ramos CI: 26.237.178</p>
                </div>
                <div class="box">
                    <h2>SIGUENOS</h2>
                    <div class="redes">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-telegram"></a>
                        <a href="#" class="fa fa-instagram"></a>
                    </div>
                </div>
            </div>
            <div class="case-two">
                <small>&copy; 2023 <b>Universidad de Oriente Nucleo Anzoategui</b> - Todos los derechos reservados.</small>
            </div>
        </footer>
        <script>
            document.getElementById("administrarEstudiantes").addEventListener("click", function() {
                // Borrar el almacenamiento local de la última opción seleccionada
                localStorage.removeItem('lastOption');
            });
        </script>
    </body>
</html>