*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/*Esto es el Header*/

/*Esto es el footer*/
.pie-de-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-de-pagina .case-one{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-de-pagina .case-one .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-de-pagina .case-one .box figure img{
    width: 250px;
}
.pie-de-pagina .case-one .box h2{
    color: aliceblue;
    margin-bottom: 25px;
}
.pie-de-pagina .case-one .box p{
    color: antiquewhite;
    margin-bottom: 10px;
}
.pie-de-pagina .case-one .box .redes a{
    display: inline-block;
    text-decoration: none;
    width: 30px;
    height: 30px;
    line-height: 45px;
    color: blanchedalmond;
    margin-right: 10px;
    transition: all 300ms ease;
}
/*El Hover se coloca para realizar reacciones. Cuando Le pasas el raton por arriba se pasa rojo*/
.pie-de-pagina .case-one .box .redes a:hover{
    color: red;
}
.pie-de-pagina .case-two{
    padding: 15px 10px;
    text-align: center;

}
.pie-de-pagina .case-two small{
    color: blanchedalmond;
    justify-content: center;
}
/*@media sirve para el responsive, es decir, cuando el ancho de la pantalla baja se aplica esto*/
@media screen and (max-width: 800px) {
    .pie-de-pagina .case-one{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
}