.carrusel{
    width: 65%;
    max-width: 120em;
    transition: all 0.4s ease;
    overflow: hidden;
}
.carrusel .grande{
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
    transition: all 0.5s ease;
    transform: translateX(0%);
}
.carrusel .grande img{
    width: calc( 100% / 2 - 2em);
    min-height: 10vh;
    transition: all 0.4s ease;
    border-radius: 1em;
}
.puntos{
    width: 100%;
    /*padding: .4em;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}
.punto{
    width: 1.5em;
    height: 1.5em;
    margin: .5em;
    list-style: none;
    background-color: aliceblue;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    transition: all 1s;
}
.punto:hover{
    transform: scale(1.1);
    background-color: rgb(114, 114, 200);
}
