{% extends "base/base.html" %} 

{% load static %} 
               
{% block content %} 
    <link href="{% static 'Biblioteca/bootstrap.min.css' %}" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'Biblioteca/css/StylesBase.css' %}"> 
    <link rel="stylesheet" href="{% static 'Biblioteca\css\StylesLibros.css' %}">
    <link rel="stylesheet" href="{% static 'Biblioteca\css\StylesTablas.css' %}">
    <script defer src="{% static 'Biblioteca\js\opciones.js' %}"></script>
    &nbsp;
    {% if user.is_authenticated %}
        <div class="opciones">
            <div class="box">
                <h1>¿Que actividad desea realizar?</h1>
            </div>
            <div class="box2">
                <button id="BotonIngresar" onclick="MostrarIngresar()" class="ops">
                    Ingresar
                </button>
                <button id="BotonEliminar" onclick="MostrarEliminar()" class="ops">
                    Editar
                </button>
                <button id="BotonVisualizar" onclick="MostrarVisualizar()" class="ops">
                    Visualizar
                </button>
            </div>
        </div>
    {% else %}
        <div class="opciones">
            <div class="box">
                <h1>¿Que actividad desea realizar?</h1>
            </div>
            <div class="box2">
                <button id="BotonVisualizar" onclick="MostrarVisualizarA()" class="ops">
                    Visualizar
                </button>
            </div>
        </div>        
    {% endif %}

        {% if "isvalid" in request.GET %} <!-- si se obtiene la redirección a la nueva url -->
            <p style="color: red; margin-left: 300px;">Estudiante añadido correctamente</p>
        {% endif %}

        <center><div id = "Ingresar" class="ingresar" style="display: none;">
            <h2>Registrando Nuevo Estudiante</h2>
            <h3>Por favor complete los campos:</h3>
            <form method="POST"> 
                {% csrf_token %} 
                <table>{{myFormE.as_table}}</table> 
                <button class="ingresar-button" type="submit"><strong>Ingresar Estudiante</strong></button> 
            </form>
        </div></center>

        <div id="Eliminar" class="editar" style="display: none;">
            <table>
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Fecha de ingreso al sistema</th>
                        <th>Correo electrónico</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for estudiante in estudiantes %}
                        <tr>
                            <td>{{estudiante.id}}</td>
                            <td>{{estudiante.nombre}}</td>
                            <td>{{estudiante.direccion}}</td>
                            <td>{{estudiante.tfno}}</td>
                            <td>{{estudiante.fecha}}</td>
                            <td>{{estudiante.email}}</td>
                            <td>IconoEditar</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="Visualizar" class="table-responsive" style="display: none;">
            <table>
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Fecha de ingreso al sistema</th>
                        <th>Correo electrónico</th>
                        <th>Devoluciones exitosas</th>
                        <th>Estatus</th>
                    </tr>
                </thead>
                <tbody>
                    {% for estudiante in estudiantes %}
                        <tr>
                            <td style="text-align: center; border-bottom: 1px solid white;">{{estudiante.id}}</td>
                            <td style="text-align: center; border-bottom: 1px solid white;">{{estudiante.nombre}}</td>
                            <td style="text-align: center; border-bottom: 1px solid white;">{{estudiante.direccion}}</td>
                            <td style="text-align: center; border-bottom: 1px solid white;">{{estudiante.tfno}}</td>
                            <td style="text-align: center; border-bottom: 1px solid white;">{{estudiante.fecha}}</td>
                            <td style="text-align: center; border-bottom: 1px solid white;">{{estudiante.email}}</td>
                            <td style="text-align: center; border-bottom: 1px solid white;">{{estudiante.devoluciones}}</td>
                            <td style="text-align: center; border-bottom: 1px solid white;">{{estudiante.estatus}}</td>
                            <td style="text-align: center; border-bottom: 1px solid white;">
                                {% if estudiante.estatus == 'Habilitado' %}
                                    <form action="{% url 'CambiarEstatus' estudiante.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit">Deshabilitar</button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'CambiarEstatus' estudiante.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit">Habilitar</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    &nbsp;
{% endblock %} 
