.opciones{
    background-color: #11212f;
    margin: 2%;
    width: 50%;
    border-radius: 1em;
}
.opciones h1{
    color: aliceblue;
}
.opciones .box{
    margin: 5px 15px;
    padding: 5px;
}
.opciones .box2{
    padding: 5px;
    margin-left: 50px;
}
.opciones .box2 .ops{
    border-radius: 40%;
    width: 100px;
    height: 50px;
    transition: all 300ms ease;
}
.opciones .box2 .opsg{
    border-radius: 40%;
    width: 150px;
    height: 50px;
    transition: all 300ms ease;
}
.opciones .box2 .opsg:hover, .ops:hover{
    background-color: #40A6FF;
    transform: scale(1.2);
}
.ingresar form table{
    margin: auto;
}
.ingresar form button{
    margin-top: 15px;
}
