.case1{
    width: 95%;
    display: grid;
    grid-template-rows: 100% 90%; 
    grid-template-columns: 7fr 2fr ;
    padding: 45px 50px;
    grid-gap: 0px;
    background-color: #11212f;
    margin: 10px 0;
    border-radius: 1em;
}
.case1 .Texto{
    width: 100%;
    position: relative;
    right: 50%;
    text-align: center;
}
.case1 .Texto h2{
    padding: 60px 0;
    color: aliceblue;
}
.carrusel{
    width: 65%;
    max-width: 120em;
    transition: all 0.4s ease;
    overflow: hidden;
}
.carrusel .grande{
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease;
    transition: all 0.5s ease;
    transform: translateX(0%);
}
.carrusel .grande img{
    width: calc( 100% / 2 - 2em);
    min-height: 10vh;
    transition: all 0.4s ease;
    border-radius: 1em;
}
.puntos{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
}
.punto{
    width: 1.5em;
    height: 1.5em;
    margin: .5em;
    list-style: none;
    background-color: aliceblue;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    transition: all 1s;
}
.punto:hover{
    transform: scale(1.1);
    background-color: rgb(114, 114, 200);
}

.content{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.content .box{
    background-color: #11212f;
    border-radius: 1em;
}
.content .box .circle{
    width: 150px;
    height: 150px;
    border-radius: 70%;
    border: 5px solid white;
}
.content .box a{
    margin-top: 15%;
    color: aliceblue;
    background-color: black;
    font-size: 100px;
    border-radius: 70%;
}
.content .box h2{
    text-align: center;
    color: aliceblue;
}
.content .box p{
    text-align: center;
    color: aliceblue;
}
