{% extends "base/base.html" %}

{% load static %}

{% block content %}
    <link href="{% static 'Biblioteca/bootstrap.min.css' %}" rel="stylesheet"> <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'Biblioteca/css/StylesBase.css' %}">
    <link rel="stylesheet" href="{% static 'Biblioteca\css\StylesLibros.css' %}">
    <link rel="stylesheet" href="{% static 'Biblioteca\css\StylesTablas.css' %}">
    <script defer src="{% static 'Biblioteca\js\opciones.js' %}"></script>
    
    &nbsp;
    {% if user.is_authenticated %}
        <div class="visualizar">
            <table style="margin: auto;">
                <thead>
                    <tr>
                        <th>Nota</th>
                        <th>Tipo de préstamo</th>
                        <th>Estudiante</th>
                        <th>Libro</th>
                        <th>Cantidad de libros prestados</th>
                        <th>Funcionario</th>
                        <th>Fecha de generación del préstamo</th>
                        <th>Fecha límite de devolución</th>
                        <th>Penalización</th>
                        <th>Cantidad de libros devueltos</th>
                        <th>Devolución Completa</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nota in notas %}
                        <tr>
                            <td>{{nota.id}}</td>
                            <td>{{nota.tipo}}</td>
                            <td>{{nota.estudiante}}</td>
                            <td>{{nota.libro}}</td>
                            <td>{{nota.cantidad}}</td>
                            <td>{{nota.funcionario}}</td>
                            <td>{{nota.fecha}}</td>
                            <td>{{nota.limite}}</td>
                            <td>{{nota.penalizacion}}</td>
                            
                            {% if not nota.devuelto and nota.penalizacion == 'Sin penalización' %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <td><input type="number" name="cantidad_devuelta" value="{{ nota.cantidad_devuelta }}"min="0" max="{{ nota.cantidad }}" required></td>
                                    <td></td>
                                    <td>
                                        <input type="hidden" name="prestamo_id" value="{{nota.id}}">
                                        <button type="submit" class="btn btn-success">Actualizar</button>
                                    </td>
                                </form>   
                            {% elif not nota.devuelto and  nota.penalizacion == 'Penalización semanal'%} 
                                <td>{{ nota.cantidad_devuelta }}</td>
                                <td>{{nota.devuelto}}</td>
                                <td><h5 style="color: red;">Devolución Incompleta!</h5></td>
                            {% else %}
                                <td>{{ nota.cantidad_devuelta }}</td>
                                <td>{{nota.devuelto}}</td>
                                <td><h5 style="color: green;">Devolución Completa!</h5></td>
                            {% endif %}           
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h3 style="text-align: center">Perdone pero debe logearse</h3>
    {% endif %}
    &nbsp;
{% endblock %} 