{% extends "base/base.html" %}

{% load static %}

{% block content %}
    <link href="{% static 'Biblioteca/bootstrap.min.css' %}" rel="stylesheet"> <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'Biblioteca/css/StylesBase.css' %}">
    <link rel="stylesheet" href="{% static 'Biblioteca\css\StylesLibros.css' %}">
    <link rel="stylesheet" href="{% static 'Biblioteca\css\StylesTablas.css' %}">
    <script defer src="{% static 'Biblioteca\js\opciones.js' %}"></script>
    <head>
        <link rel="stylesheet" href="{% static 'Biblioteca/css/StylesTable.css' %}">
    </head>
    &nbsp;
    {% if user.is_authenticated %}
        <div class="visualizar" style="display: none;">
            <table style="margin: auto;">
                <thead>
                    <tr>
                        <th>Nota</th>
                        <th>Tipo de préstamo</th>
                        <th>Estudiante</th>
                        <th>Libro</th>
                        <th>Cantidad</th>
                        <th>Funcionario</th>
                        <th>Fecha de generación del préstamo</th>
                        <th>Fecha límite de devolución</th>
                        <th>Penalización</th>
                        <th>Devuelto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nota in notas %}
                        <tr>
                            <td>{{nota.id}}</td>
                            <td>{{nota.tipo}}</td>
                            <td>{{nota.estudiante}}</td>
                            <td>{{nota.libro}}</td>
                            <td>{{nota.cantidad}}</td>
                            <td>{{nota.funcionario}}</td>
                            <td>{{nota.fecha}}</td>
                            <td>{{nota.limite}}</td>
                            <td>
                                {{nota.penalizacion}}
                                {% if not nota.devuelto and nota.penalizacion == 'Sin penalización' %}
                                    <form action="{% url 'CambiarPenalizacion' nota.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit">Penalizar</button>
                                    </form>
                                {% endif %}
                            </td>
                            <td>{{nota.devuelto}}</td>
                            <td>
                                {% if not nota.devuelto and nota.penalizacion == 'Sin penalización' %}
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="prestamo_id" value="{{nota.id}}">
                                        <button type="submit" class="btn btn-success">Cambiar</button>
                                    </form>
                                {% elif not nota.devuelto and  nota.penalizacion == 'Penalización semanal'%}
                                    <h5 style="color: red;">No devuelto!</h5>
                                {% else %}
                                    <h5 style="color: green;">Ya devuelto!</h5>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h3 style="text-align: center">Perdone pero debe logearse</h3>
    {% endif %}
    &nbsp;
{% endblock %} 