{% extends "base/base.html" %}

{% load static %}

{% block content %}
    <link href="{% static 'Biblioteca/bootstrap.min.css' %}" rel="stylesheet"> <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'Biblioteca/css/StylesBase.css' %}">
    <head>
        <link rel="stylesheet" href="{% static 'Biblioteca/css/StylesTable.css' %}">
    </head>
    &nbsp;
    {% if user.is_authenticated %}
        <table style="margin: auto;">
            <thead>
                <tr>
                    <th>Nota</th>
                    <th>Tipo de préstamo</th>
                    <th>Estudiante</th>
                    <th>Libro</th>
                    <th>Cantidad</th>
                    <th>Funcionario</th>
                    <th>Fecha de generación del préstamo</th>
                    <th>Fecha límite de devolución</th>
                    <th>Devuelto</th>
                </tr>
            </thead>
            <tbody>
                {% for nota in notas %}
                    <tr>
                        <td>{{nota.id}}</td>
                        <td>{{nota.tipo}}</td>
                        <td>{{nota.estudiante}}</td>
                        <td>{{nota.libro}}</td>
                        <td>{{nota.cantidad}}</td>
                        <td>{{nota.funcionario}}</td>
                        <td>{{nota.fecha}}</td>
                        <td>{{nota.limite}}</td>
                        <td>{{nota.devuelto}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3 style="text-align: center">Perdone pero debe logearse</h3>
    {% endif %}
    &nbsp;
{% endblock %} 